.home-items {

    color: rgb(231, 60, 60);
    font-family:fantasy;
    font-size: .9cm;
    justify-self: center;
    margin-left: 20px;
    cursor: default; 
    text-align: center;
}

.cards {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .cards__item {
    display: flex;
    padding: 1rem;
    width: 25%;
  }
  
  .card {
    background-color: white;
    box-shadow: 10px 10px 5px rgb(132, 110, 238);
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .card__content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 1rem;
  }


  .form-card {
    width: 50%;
    height: 50px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }